<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ceb85b6976.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/main.css">

    <style>
      body{
        font-family: Arial;
      }

        .hero{
  width: 1440px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}


/* style for left form */
.left_form{
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.job{
  width: 228px;
  height: 223px; 
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;

  .person_image{
    width: 156px;
    height: 135px;
    border-radius: 50%;
  }

  .person_name{
    font-size: 18px;
  }

  .person_job{
    font-size: 15px;
    color: gray;
  }

  .social_icons{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    i{
      font-size: 24px;
      color: #FFB400;
    }
  }


}

.short_info{
  width: 221px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  .short_info_items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    .info_text{
      background-color: #FFB400;
      box-sizing: border-box;
      padding: 3px;
    }
  }
}







.languages{
  width: 220px;
  height: 153px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  .languages_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .lang, .lang_pro{
    font-size: 15px;
    color: #767676;
  }
}

.skills{
  width: 220px;
  height: 242px;
  display: flex;
  flex-direction: column;
  gap: 18px;


  .languages_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .lang, .lang_pro{
    font-size: 15px;
    color: #767676;
  }
}












.extra_skills{
  width: 186px;
  height: 148px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  

    .extra{
      color: #767676;
      font-size: 15px;
    }
}

.marginer{
  margin: 25px 0px;
  height: 2px;
  width: 220px;
  border: none;
  background-color: #F0F0F6;
}














.middle_form{
  width: 100%;
  box-sizing: border-box;
  padding-left: 34px;
  padding-right: 22px;


  .main{
    height: 463px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 56px;
    padding-bottom:63px;
    margin-bottom: 140px;

    .main-text{
      width: 50%;
    }

    h1{
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 10px; 
    }

    p{
      font-size: 16px;
      color: #767676;
      width: 424px;
      line-clamp: 3;
      line-height: 24px;
      margin-bottom: 22px;
    }

    .hire-btn{
      background-color: #FFB400;
      width: 154px;
      height: 49px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      
      /* i{
        float: right;
        margin-right: 10px;
      } */
    }

  }




  .services{


    h1{
      text-align: center;
      font-size: 32px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
      color: #767676;
      text-align: center;
      line-clamp: 2;
      margin-bottom: 50px;
    }

    .services-flex{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;

      .service-card{
        width: 333px;
        height: 225px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        img{
          width: 68px;
          margin-bottom: 26px;
        }
        h3{
          margin: 0;
        }
        p{
          font-size: 16px;
          color: #767676;
          text-align: center;
          margin-bottom: 0;
        }

        a{
          color: #FFB400;
          font-size:12px;
          margin-top:10px;
        }
      }
    }


  }

}

.right_form{
  width: 108px;
  box-sizing: border-box;
  background-color: white;

  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;

    .icon-div-1{
      margin-bottom: 174px;
    }

    .icon-div{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 18px;
      background-color: #E5E5E5;
      cursor: pointer;
    }
    .icon-div:hover{
      background-color: #FFB400;
    }
  }
}






    </style>
  </head>
  
  
  
  
  
  <body style="background-color: #E5E5E5; margin:0; padding: 0;">
    
    <div class="all-container">
      
      <div class="hero">
        
        <div class="left_form">
          <div class="job">
            <div>
              <img class="person_image" src="https://clipart-library.com/images_k/black-man-transparent/black-man-transparent-8.jpg" alt="">
            </div>
            <div class="person_name">Marcos</div>
            <div class="person_job">Heart</div>
            <div class="social_icons">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-facebook"></i>
            </div>
          </div>
          <hr class="marginer">

          <div class="short_info">
            
            <div class="short_info_items">
              <div class="info_text">Age:</div>
              <div>30</div>
            </div>
            
            <div class="short_info_items">
              <div class="info_text">Residence:</div>
              <div>Uzb</div>
            </div>
            
            <div class="short_info_items">
              <div class="info_text">Freelance:</div>
              <div style="color: lightgreen;">Available</div>
            </div>
            
            <div class="short_info_items">
              <div class="info_text">Address:</div>
              <div>South Korea</div>
            </div>
            
          </div>
          <hr class="marginer">

          <div class="languages">
            <div style="font-size:18px; font-weight:bolder; margin-bottom: 5px;">Languages</div>
            <div class="languages_flex">
              <div class="lang">Uzbek</div>
              <div class="lang_pro">100%</div>
            </div>

            <div class="languages_flex">
              <div class="lang">English</div>
              <div class="lang_pro">80%</div>
            </div>

            <div class="languages_flex">
              <div class="lang">Korean</div>
              <div class="lang_pro">70%</div>
            </div>
          </div>
          <hr class="marginer">


          <div class="skills">
            <div style="font-size:18px; font-weight:bolder; margin-bottom: 5px;">Skills</div>
            <div class="languages_flex">
              <div class="lang">Html</div>
              <div class="lang_pro">100%</div>
            </div>

            <div class="languages_flex">
              <div class="lang">Css</div>
              <div class="lang_pro">80%</div>
            </div>

            <div class="languages_flex">
              <div class="lang">Js</div>
              <div class="lang_pro">70%</div>
            </div>
            
            <div class="languages_flex">
              <div class="lang">PHP</div>
              <div class="lang_pro">90%</div>
            </div>

            <div class="languages_flex">
              <div class="lang">Wordpress</div>
              <div class="lang_pro">70%</div>
            </div>
          </div>
          <hr class="marginer">









          <div class="extra_skills">
            <div style="font-size:18px !important; font-weight:bolder ; margin-bottom: 5px;">Extra skills</div>
            <div class="extra"><i class="fa-solid fa-file" style="float: left; color: #FFB400; margin-right: 8px;"></i> Bootstrap, Materialize</div>
            <div class="extra"><i class="fa-solid fa-file" style="float: left; color: #FFB400; margin-right: 8px;"></i> Stylus, Sass, Less</div>
            <div class="extra"><i class="fa-solid fa-file" style="float: left; color: #FFB400; margin-right: 8px;"></i> Gulp, Webpack, Grunt</div>
            <div class="extra"><i class="fa-solid fa-file" style="float: left; color: #FFB400; margin-right: 8px;"></i> GIT Knowledge</div>
          </div>
          <hr class="marginer">

        </div>

        
        <div class="middle_form">
          <section class="main">
            
            <div class="main-text">
              <h1>Doctor Neurologists in OHSU Hospital</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
              <button class="hire-btn">HIRE ME <i class="fa-solid fa-chevron-right"></i></button>
            </div>
            
          </section>


          <section class="services">
            <h1>My Services</h1>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor <br>do amet sint. Velit officia consequat duis enim velit mollit. <br>lorem ipsum</p>
            <div class="services-flex">
              
              <div class="service-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0KXcpQ7Qa8ovEaSw1f7YpF_K6mvaOR5wUsw&s" alt="">
                <h3>Web Development</h3>
                <p>Blog, E-commerce</p>
              </div>
              
              <div class="service-card">
                <img src="https://static.vecteezy.com/system/resources/previews/027/915/422/non_2x/ux-ui-icon-free-vector.jpg" alt="">
                <h3>UI/UX design</h3>
                <p>Mobile app, website design</p>
              </div>
              
              <div class="service-card">
                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/sound-3d-icon-download-in-png-blend-fbx-gltf-file-formats--music-audio-speaker-volume-multimedia-general-ui-pack-user-interface-icons-5376635.png?f=webp" alt="">
                <h3>Sound Design</h3>
                <p>Voice over, Beat Making</p>
              </div>
              
              <div class="service-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIqlfq6XF53n1MF8_Cq3MtR9yU94QxqkFSUg&s" alt="">
                <h3>Game Design</h3>
                <p>Character Design, Props & Objects</p>
              </div>
              
              <div class="service-card">
                <img src="https://www.svgrepo.com/show/116752/film-camera.svg" alt="">
                <h3>Photography</h3>
                <p>Portrait, Product Photography</p>
              </div>
              
              <div class="service-card">
                <img src="./coding.svg" alt="">
                <h3>Advertising</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
                <a href="#" >ORDER NOW <i class="fa-solid fa-chevron-right"></i></a>
              </div>

              
            </div>
          </section>
        </div>
        
        
        <div class="right_form">
          <section class="menu">
            <div class="icon-div icon-div-1"><i class="fa-solid fa-moon"></i></div>
            <div class="icon-div"><i class="fa-solid fa-house"></i></div>
            <div class="icon-div"><i class="fa-solid fa-code"></i></div>
            <div class="icon-div"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class="icon-div"><i class="fa-solid fa-briefcase"></i></div>
            <div class="icon-div"><i class="fa-solid fa-address-card"></i></div>
            <div class="icon-div"><i class="fa-solid fa-comment"></i></div>
          </section>
        </div>
      </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
